{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск очереди</title>
    <link rel="stylesheet" href="{% static 'queue_app/queue_style.css' %}">
</head>
<body>
    <div class="main">
        <div class="user_info">
            <p>Вы вошли как {{ user.first_name }} {{ user.last_name }}</p>
            <a href="{% url 'auth:sign-out' %}">Выйти из аккаунта</a>
        </div>
        <a href="{% url 'queue:index' %}">Вернуться домой</a>
        <div class="search_block">
            <h1>Введите пароль</h1>
            <p>Очередь {{ queue.name }} является приватным. Введите пароль, который предоставил создатель очереди.</p>
            <form method="post" action="{% url 'queue:index' %}">
                {% csrf_token %}
                <input name="queue_password" type="password" placeholder="Пароль для входа в очередь...">
                <button type="submit">Войти в очередь</button>
            </form>
        </div>
    </div>
</body>
</html>